# Dépendances
node_modules/
.pnpm/
.yarn/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Variables d'environnement
.env.local
.env.*.local
.env

# Fichiers de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Éditeurs/IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Système
.DS_Store
Thumbs.db

# Build
dist/
dist-ssr/
*.tsbuildinfo

# Cache
.eslintcache
.npm
.tmp/
.temp/ 